html,body{
    width: 100%;
    height: 100%;
}

body{
    margin: 0;
    padding: 0;
    background: #dfdfdf;
    overflow: hidden;
    color: #2C0E25;
   text-shadow:  1px 1px 0 #FFFFFF
}

.presentation{
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    font-size:100%;
    position: relative;
}

.presentation .slide{
    display: none;
    width: 100%;
    width: 900px;
    height: 550px;
    overflow: hidden;
    background: #fff;
    position: absolute;
    margin-top: -275px;
    top:50%;
    left:50%;
    margin-left: -450px;
    white-space: normal;


    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slide.active{
    display: block;
}
.present h1, .present h2, .present section,
.slide h1, .slide h2, .slide section{
    padding: 0 5%;
}

.presentation .slide p{
    text-align: justify;
    font-size:30px;
}

.presentation .slide h1{
    font-size:62px;
    text-align: center;
    vertical-align: middle;
}
.presentation .slide h2{
    font-size:44px;
}

.presentation .slide li{
    font-size: 30px;
    list-style: inside;
    padding-left: 10px;
}

.navigation .slide a{
    font-size:30px;
}

.navigation  .slide p{
    text-align: justify;
    font-size:5px;
}

.navigation  .slide h1{
    font-size:15px;
    text-align: center;
    vertical-align: middle;
}
.navigation  .slide h2{
    font-size:13px;
}

.navigation .slide li{
    font-size: 5px;
    list-style: inside;
    padding-left: 10px;
}

.navigation  .slide a{
    font-size:5px;
}

.slide #center{
    text-align: center;
    float: none;
}


.status{
    height: 2px;
    background-color: #f00;
    position: absolute;
}


.navigation{
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top:0;
    left:50%;
    width: 750px;
    height: 114px;
    margin-left: -375px;
    z-index: 1;
    overflow: hidden;
    white-space: nowrap;
    margin-top: -116px;


    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}

.navigation .slide{
    width: 220px;
    height: 110px;
    font-size:20%;
    display: inline-block;
    background-color: #fff;
    vertical-align: top;
    overflow: hidden;
    border: 2px solid transparent;
    cursor: pointer;
    margin-right:3px ;
}
.navigation .slide:first-child{
    margin-left: 0;
}

.navigation .slide img{
    width: 20%;
}

.navigation .slide:hover{
    border-color: #f00;
}

.mini_slide_inner{
    position: absolute;
    left:0;
    top:0;

}

.present_change{
    text-align: center;
    margin-top: 5%;
}
.present{
    display: inline-block;
    width: 300px;
    height: 200px;
    margin: 5px;
    background-color:#fff;
    text-align: left;
    cursor: pointer;
    vertical-align: top;

    -moz-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.5);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
}

.present:hover{
    background-color: #f3f3f3;
}

.button{
    position: absolute;
    top:0;
    left:50%;
    margin-left: -90px;
    width: 180px;
    height: 30px;
    opacity: 0.25;
    text-align: center;
    background: #fff url("img/arrow2.png") center center no-repeat ;
    z-index: 3;

    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    cursor: pointer;
}

.button:hover{
    background: #f9f9f9 url("img/arrow3.png") center center no-repeat ;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}